/* PacManGame.css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden !important;

}
.pacman-container {
  text-align: center;
  font-family: "Arial, sans-serif";
  background-color: #000;
  color: #FFD700;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pacman-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px #ff4500;
}

.pacman-score {
  font-size: 22px;
  margin-bottom: 10px;
}

.pacman-canvas {
  border: 5px solid #FFD700;
  background-color: #222;
  box-shadow: 0px 0px 15px #FFD700;
  margin-top: 10px;
}

.pacman-restart{
  margin-top: 20px;
  background-color: #FFD700;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px #FFD700;
  text-shadow: 2px 2px 5px #ff4500;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  color: red;
}

.modal-content h4 {
  color: black;
}

.modal-content h3 {
   color: rgb(78, 151, 4);
}

.modal-content button {
  background: yellow;
  color: rgb(63, 11, 206);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}


.glowing-dot {
  animation: glow 0.8s infinite alternate;
}

@keyframes glow {
  from {
    background-color: white;
    box-shadow: 0 0 5px white;
  }
  to {
    background-color: #FFD700;
    box-shadow: 0 0 10px #FFD700;
  }
}
